@import "scss/_var";

nav {
	width: 100%;
	height: 40px;
	line-height: 40px;

	background-color: $darken-background-color;

	#nav_wrapper {
		width: 90%;
		height: 40px;

		margin: 0 auto;

		ul {
			list-style: none;

			li {
				float: left;

				width: 14.28%;

				text-align: center;
				font-weight: 600;
				color: $font-light-color;

				cursor: pointer;

				transition: background-color .2s ease-in;
			}

			li:hover, li.active {
				background-color: $darken-darken-background-color;
			}
		}
	}
}

#game {
	width: 80%;

	margin: 0 auto;

	padding-top: 50px;

	h3 {
		font-size: 50px;
		color: $font-light-color;
		text-align: center;
	}

	#radio {
		padding-top: 30px;

		color: $font-light-color;
		text-align: center;

		input[type=radio] {
			display: none;
		}

		label {
			display: inline-block;

			margin: 10px;
			padding: 10px 20px;

			border-radius: 6px;

			font-size: xx-large;

			background-color: $darken-background-color;

			cursor: pointer;

			transition: background-color .2s ease-in;
		}

		label:hover {
			background-color: $darken-darken-background-color;
		}
	}
}

#success_wrapper, #failed_wrapper {
	display: none;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	text-align: center;

	h3 {
		width: 100%;
		height: 190px;
		line-height: 175px;

		font-size: 4em;

		color: white;
		background-color: rgba($font-light-color, 0.4);

		text-shadow: 3px 3px black;
	}
}

#success_wrapper {
	background-color: $success-color;
}

#failed_wrapper {
	background-color: $failed-color;
}