<!-- Metas -->
<meta charset="utf-8">
<meta author="Maxime Morlet">
<meta name="description" content="Un quizz d'informatique intéractif accessible pour tous niveaux.">

<!-- OpenGraph -->
<meta property="og:title" content="Consolidary | Quizz informatique"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Renforcez vos connaissances en informatique facilement grâce à Consolidity.">
<meta property="og:url" content="http://maxime-morlet.hostei.com/consolidary/"/>
<meta property="og:image" content="http://maxime-morlet.hostei.com/consolidary/ressources/icon/icon.png"/>
<meta property="og:locale" content="fr_FR"/>

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="styles/global.css"/>
<link rel="stylesheet" type="text/css" href="styles/loader.css"/>
<link rel="stylesheet" type="text/css" href="styles/index.css"/>

<!-- Icon -->
<link rel="icon" href="http://maxime-morlet.hostei.com/consolidary/favicon.png"/>

<!-- Title -->
<title>Consolidary | Quizz informatique</title>
